#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define BASE 0
#define NAV  1
#define SYM  2
#define ADJ  3

/ {
    combos {
        compatible = "zmk,combos";

        enter_combo {
            bindings = <&kp ENTER>;
            key-positions = <11 12 13>;
            timeout-ms = <70>;
        };
    };

    behaviors {
        mt_a_umlaut: mt_a_umlaut {
            compatible = "zmk,behavior-hold-tap";
            label = "MT_A_UMLAUT";
            bindings = <&kp A &kp RA_A>;
            #binding-cells = <2>;
            tapping-term-ms = <170>;
        };
        mt_o_umlaut: mt_o_umlaut {
            compatible = "zmk,behavior-hold-tap";
            label = "MT_O_UMLAUT";
            bindings = <&kp O &kp RA_O>;
            #binding-cells = <2>;
            tapping-term-ms = <170>;
        };
        mt_u_umlaut: mt_u_umlaut {
            compatible = "zmk,behavior-hold-tap";
            label = "MT_U_UMLAUT";
            bindings = <&kp U &kp RA_U>;
            #binding-cells = <2>;
            tapping-term-ms = <170>;
        };
        mt_s_sz: mt_s_sz {
            compatible = "zmk,behavior-hold-tap";
            label = "MT_S_SZ";
            bindings = <&kp S &kp RA_S>;
            #binding-cells = <2>;
            tapping-term-ms = <170>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            label = "BASE (DE QWERTZ)";
            bindings = <
                // Row 1
                &kp Q  &kp W  &kp E  &kp R  &kp T      &kp Z  &kp U  &kp I  &kp O  &kp P
                // Row 2
                &mt_a_umlaut &mt_s_sz &kp D  &kp F  &kp G      &kp H  &kp J  &kp K  &kp L  &kp SEMICOLON
                // Row 3
                &kp Y  &kp X  &kp C  &kp V  &kp B      &kp N  &mt_o_umlaut &kp M  &kp COMMA  &kp DOT
                // Thumbs
                &kp DELETE  &kp TAB  &kp SPACE  &kp ENTER  &kp BSPC
            >;
        };

        nav_layer {
            label = "NAV (DE Klammern angepasst)";
            bindings = <
                // Row 1
                &trans &trans &kp UP &trans &trans    &trans &trans &kp N7 &kp N8 &kp N9
                // Row 2
                &trans &kp LEFT &kp DOWN &kp RIGHT &trans    &kp LBRC &kp RBRC &kp N4 &kp N5 &kp N6
                // Row 3
                &trans &trans &kp PG_UP &trans &kp PG_DN    &kp LCBR &kp RCBR &kp N1 &kp N2 &kp N3
                // Thumbs
                &trans &trans &trans &trans &kp N0
            >;
        };

        sym_layer {
            label = "SYM (DE Symbole + Umlaute)";
            bindings = <
                // Row 1
                &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT    &kp LPAR &kp RPAR &kp CARET &kp AMPS &kp EQUAL
                // Row 2
                &mt_a_umlaut &mt_o_umlaut &mt_u_umlaut &mt_s_sz &trans   &kp LBRC &kp RBRC &kp STAR &kp PLUS &kp BSLH
                // Row 3
                &kp LCBR &kp RCBR &kp TILDE &kp GRAVE &kp PIPE    &kp LT &kp GT &kp SEMICOLON &kp COLON &trans
                // Thumbs
                &trans &trans &trans &trans &trans
            >;
        };

        adjust_layer {
            label = "ADJ";
            bindings = <
                &sys_reset &bt BT_CLR &out OUT_TOG &trans &trans   &trans &kp F7 &kp F8 &kp F9 &kp F12
                &bootloader &bt BT_NXT &trans &trans &trans  &trans &kp F4 &kp F5 &kp F6 &kp F11
                &trans &trans &bt BT_PRV &trans &trans  &trans &kp F1 &kp F2 &kp F3 &kp F10 &trans
                &trans &trans &trans &trans &trans &trans
            >;
        };
    };
};
